<!DOCTYPE html>
<html ng-app>
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1">
	<title>Grant Calculator: Developing the Grant Budget</title>
	 <!--code developed by C.G Johnson on June 21, 2017 (SuburbanStyle Productions, LLC). All rights reserved-->
</head>
<link rel="stylesheet" href="css/style.css">
<!-- Latest compiled and minified CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="js/angular.min.js"></script>
<body>
<header><h1>Developing the Budget Table and Pie Chart</h1></header>
<!--pie chart begins-->
<div class="wrapper">

<div class="pie-wrap" ng-model="grant">
	

		<div class="light-yellow entry">
			<p>{{ grant * .20 | currency}}</p>
			<p class="entry-value">Contractual</p>
		</div>
		
		<div class="sky-blue entry">
			<p>{{ grant * .30 | currency }}</p>
			<p class="entry-value">Personnel</p>
		</div>
		
		<div class="pink entry">
			<p>{{ grant * .06 | currency }}</p>
			<p class="entry-value">Fringe</p> </p>
		</div>
		
		<div class="purple entry">
			<p>{{ grant * .02  | currency}}</p>
			<p class="entry-value">Travel</p>
		</div>
		
		<div class="green entry">
			<p>{{ grant * .02  | currency}}</p>
			<p class="entry-value">Equipment</p>
		</div>
		
		<div class="wheat entry">
			<p>{{ grant * .15 | currency }}</p>
			<p class="entry-value">Supplies</p>
		</div>
		
		</div>

</div>

<!--pie chart ends-->


<div id = "budgTable">
<table class="table">
<!--table style: divided by titles/outputs or input blanks-->
<tr>
	<th><h3>Grant:</th><th><input type="number" ng-model = "grant" placeholder="Enter Grant amount"></h3></th>
</tr>
<br/>

<tr>
	<td class="area"><h3>Grant Entered:</td><td class="currency"  id="grant-entered"> {{ grant | currency}}</h3></td>
</tr>

<tr>	
	<td class="area"><h3>Personnel: </td><td class="currency" id="personnel">{{ grant * .30 | currency }}</h3></td>
</tr>

<tr>
	<td class="area"><h3>Fringe: </td><td class="currency" id="fringe">{{ grant * .06 | currency }}</h3></td>
</tr>

<tr>
	<td class="area"><h3>Travel: </td><td class="currency" id="travel">{{ grant * .02  | currency}}</h3></td>
</tr>

<tr>
	<td class="area"><h3>Equipment: </td><td class="currency" id="equipment">{{ grant * .02  | currency}}</h3></td>
</tr>

<tr>
	<td class="area"><h3>Supplies: </td><td class="currency" id="supplies">{{ grant * .15 | currency }}</h3></td>
</tr>

<tr>
	<td class="area"><h3>Contractual: </td><td class="currency" id="contractual">{{ grant * .20 | currency}}</h3></td>
</tr>

<!--input field for other expenses--> 
<tr>
	<td class="area"><h3>Other: </td><td class="currency"><input type="numeric" name="other" ng-model="other" id="other" placeholder="Enter other expenses"/></h3></td>
</tr>

<!--totals up the three ending categories-->
<tr>
	<td class="area2"><h3>Total Direct Charges: </td><td class="currency">{{ grant | currency }}</h3></td>
</tr>	

<tr>
	<td class="area2"><h3>Total Indirect Charges: </td><td class="currency">{{ other | currency }}</h3></td>
</tr>

<tr>
	<td class="area2"><h3>Total: </td><td class="currency">{{ (grant * 1) + (other * 1) | currency }}</h3></td>
</tr>

</table>


 </div>
<footer><h6>Copyright 2007-<span id="currentYear"></span>.  (Click on each of the blue links if you purchased the disk for sample researched information).</h6></footer>
<script src="js/script.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>